body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    position: relative;
    margin-top: 50px;
    width: 560px;
    height: 300px;
    border: 1px solid rgb(38, 3, 71);
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.player {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(38, 3, 71);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 10px;
}

#score {
    position: absolute;
    font-size: 24px;
    background-color: black;
    color: aliceblue;
    padding: 16px 72px;
    text-align: center;
    left: 160px;
    bottom: 100px;
    display: none;
}

.point {
    font-size: 30px;
    background-color: black;
    color: aliceblue;
    padding: 24px;
    width: 100vw;
    text-align: center;
}